<!-- <p>child3 works!</p> -->
<div class="bg1">
        <div class="container">
            <div class="row" style="margin-bottom: 15px;margin-top: 15px;font-size: 17px;">
                <div class="col-md-12" style="margin-bottom: 27px;">
                    <h2 class="">Bindings</h2>
                    <p class="aboutus1">
                            Binding is the process which forms the connection between the 
                            application UI and the data which comes from the business logic.
                             In Angular, it can be called the automatic synchronization of 
                             the data and the view
                    </p>
                    <p class="aboutus1">
                      
                    </p>
                    
    
                    <p class="aboutus1"></p>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>