
<nav class="navbar navbar-expand-sm bg-secondary">
                <ul class="navbar-nav">
            
                    <li class="navbar-brand">
                        <a class="" style="font-size:30px;cursor:pointer" routerLink="./home" style="color: #eee;"> &#9776; Home</a>
                    </li>
            
                    <li class="navbar-brand">
                        <a class="" routerLink="./mtwlabs" style="color: #eee;">Fundamentals</a>
                    </li>
            
                    <div class="navbar-brand">
                        <li class="dropdown">
                            <a routerLink="./child" class="dropdown" data-toggle="dropdown" style="color: #eee;">Resources <span
                                       class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a routerLink="child/child1"> services </a></li>
                                <li><a routerLink="child/child2"> AuthGaurd </a></li>
                                <li><a routerLink="child/child3"> Binding </a></li>
                                <li><a routerLink="child/child4"> Routing </a></li>
                            </ul>
                        </li>
                    </div>
            
                    <div class="navbar-brand">
                        <li class="dropdown">
                            <a routerLink="./validations" class="dropdown" data-toggle="dropdown" style="color: #eee;">Forms <span
                                    class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a routerLink="validations/reactive"> Reactive Forms </a></li>
                                <li><a routerLink="validations/template"> Template Driven Forms </a></li>
                            </ul>
                        </li>
                    </div>
            
                    <li class="navbar-brand">
                        <a class="" routerLink="./rtable" style="color: #eee;">Table</a>
                    </li>

                    <!-- <li class="navbar-brand">
                        <a class="" routerLink="./httpemp" style="color: #eee;">Angular Material</a>
                    </li> -->

                    <li class="navbar-brand">
                        <a class="" routerLink="./nestedform" style="color: #eee;">Sorting</a>
                    </li>

                    

                    <li class="navbar-brand">
                        <a class="" routerLink="./clock" style="color: #eee;">Clock</a>
                    </li>
                          

            
                </ul>
            </nav>