<body>
    
    <form [formGroup]="nestedForm" (ngSubmit)="submitted()" class="form-group">
    <div class="container">
      <h2>Employee Details</h2>  
      <button  type="button" class="btn btn-primary" style="margin-left: 95%;
      margin-bottom: 5px;">ADD</button>        
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Sl.No</th>
            <th>Employee Id</th>
            <th>Company Email</th>
            <th>Name</th>
            <th>Mobile No</th>
          </tr>
        </thead>

           

        
        <tbody>
          <tr>
            <td class="success">01</td>
            <td class="success">11Uk1a0571</td>
            <td class="success"> Kudleraju@gmail.com</td>
            <td class="success">Raju</td>
            <td class="success">9876543210</td>
          </tr>
        </tbody> 
      </table>
    </div>
</form>
</body>

