<div>
<button mat-button> Submit</button>
<button mat-raised-button> Submit</button>
<button mat-flat-button> Submit</button>
<button mat-strock-button> Submit</button>

</div>

<div class="mat-display-4">Hello World</div>
<div class="mat-display-3">Hello World</div>
<div class="mat-display-2">Hello World</div>
<div class="mat-display-1">Hello World</div>

<div class="mat-headline">This is heading for h1</div>
<div class="mat-title">This is heading for h2</div>
<div class="mat-subheading-2">This is heading for h3</div>
<div class="mat-subheading-1">This is heading for h4</div>


<div class="mat-body-1">This is body text</div>
<div class="mat-body-2">This is body bold text</div>
<div class="mat-caption">This is caption text</div>



<div class="mat-typography">
    <h1>Heading1</h1>
    <h2>Heading2</h2>
    <h3>Heading3</h3>
    <h4>Heading4</h4>
</div>


