<div class="bg1">
        <div class="container">
            <div class="row" style="margin-bottom: 15px;margin-top: 15px;font-size: 17px;">
                <div class="col-md-12" style="margin-bottom: 27px;">
                    <h2 class="">Angular services</h2>
                    <p class="aboutus1">
                            Services are an integral part of Angular applications. In Angular, a service is an instance of a class that can be made available to any part of our application using Angular's dependency injection system.

                            Services are the place where you share data between parts of our application. For the online store, the cart service is where you store your cart data and methods.
                    </p>
                    
                    
    
                    <p class="aboutus1"></p>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
