<div class="bg1">
        <div class="container">
            <div class="row" style="margin-bottom: 15px;margin-top: 15px;font-size: 17px;">
                <div class="col-md-12" style="margin-bottom: 27px;">
                    <h2 class="">Authgaurd</h2>
                    <p class="aboutus1">
                            Interface that a class can implement to be a guard deciding if a route 
                            can be activated. If all guards return true, navigation will continue. 
                            If any guard returns false, navigation will be cancelled. If any guard 
                            returns a UrlTree, current navigation will be cancelled and a new 
                            navigation will be kicked off to the UrlTree returned from the guard.
                    </p>
    
                    <p class="aboutus1"></p>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>

