<!-- <p>home works!</p>
<p>Calculation is : {{ numberA + numberB }} </p>
<h2>{{ title }}</h2> < String Interpolation >  
<img [src]="imgUrl" /> < Property Binding >
<h2>Two-way Binding Demo</h2>  
   <input [(ngModel)]="fullName" /> <br/><br/>  

<p> {{fullName}} </p> 

<div *ngIf="showContent">
  <p>good morning 91spring board</p> 
</div>
<div>
   <button (click)="hideContents()">

   </button>
   <div>
      <ul class ="list-unstyled">
        <li>
           {{newdate | date:"fullDate" | uppercase}};
           {{newcurrancy   | currency:'INR'}};
           {{newDecimal    | number :'3.1-5'}};
           {{newtitlecase  | titlecase}};
           {{newPercentage | percent}}
        </li>
      </ul>
   </div>
</div>

<div formArrayName="aliases">
   <h3>Aliases</h3> <button (click)="addAlias()">Add Alias</button>
 
   <div *ngFor="let address of aliases.controls; let i=index">
     The repeated alias template
     <label>
       Alias:
       <input type="text" [formControlName]="i">
     </label>
   </div>
 </div> -->

 <div class="bg1">
    <div class="container">
        <div class="row" style="margin-bottom: 15px;margin-top: 15px;font-size: 17px;">
            <div class="col-md-12" style="margin-bottom: 27px;">
                <h2 class="">Getting started with angular</h2>
                <p class="aboutus1">AngularJS is a structural framework for dynamic web apps. With AngularJS, 
                  designers can use HTML as the template language and it allows for the extension of HTML's 
                  syntax to convey the application's components effortlessly. Angular makes much of the code 
                  you would otherwise have to write completely redundant.</p>

                <p class="aboutus1">Angular presents you not only the tools but also design patterns to build 
                  your project in a maintainable way. When an Angular application is crafted properly, you don’t
                   end up with a tangle of classes and methods that are hard to modify and even harder to test. 
                   The code is structured conveniently and you won’t need to spend much time in order to understand
                    what is going on.</p>
                
                <p class="aboutus1 f-size-15">It’s JavaScript, but better. Angular is built with TypeScript,
                   which in turn relies on JS ES6. You don’t need to learn a totally new language, but you 
                   still receive features like static typing, interfaces, classes, namespaces, decorators etc</p>

                   <p class="aboutus1 f-size-15">No need to reinvent the bicycle. With Angular, you already have
                      lots of tools to start crafting the application right away. You have directives to give
                      HTML elements dynamic behavior. You can power up the forms using FormControl and introduce
                      various validation rules. You may easily send asynchronous HTTP requests of various types.
                      You can set up routing with little hassle. And there are many more goodies that Angular 
                      can offer us!</p>

                   <p class="aboutus1 f-size-15">
                      Components are decoupled. Angular strived to remove tight coupling between various components
                       of the application. Injection happens in NodeJS-style and you may replace various components with ease.
                   </p>   

                   <p class="aboutus1 f-size-15">
                      All DOM manipulation happens where it should happen. With Angular, you don’t tightly couple 
                      presentation and the application’s logic making your markup much cleaner and simpler.
                   </p>
                   
                   <p class="aboutus1 f-size-15">
                      Angular is mobile and desktop-ready, meaning you have one framework for multiple platforms.
                   </p>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>